/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #12121294;
  color: #fff;
  scroll-behavior: smooth;
}

/* Header */
header {
  background-color: #4ff9ff; 
  padding: 20px 30px;
}

.header-content {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  border: 3px solid #333;
}

.header-text h1 {
  margin-bottom: 5px;
  color: #000;
}

.header-text p {
  color: #333;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 16px;
  background-color: #0073e6;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #005bb5;
}

/* Sections */
main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  margin-bottom: 15px;
  color: #00bfff;
}

/* Skills */
.skill-tags span {
  background-color: #2a2a2a;
  color: #fff;
  padding: 8px 14px;
  margin: 5px;
  display: inline-block;
  border-radius: 6px;
}

/* Experience Section */
.toggle-header {
  cursor: pointer;
  color: #00bfff;
  transition: color 0.3s ease;
}

.toggle-header:hover {
  color: #4ff9ff;
}

#toggle-icon {
  color: #00bfff;
  font-weight: bold;
}

.hidden {
  display: none;
}

.experience-item {
  background-color: #2a2a2a;
  margin-bottom: 15px;
  padding: 15px;
  border-left: 4px solid #00bfff;
  border-radius: 8px;
}

.experience-item h3 {
  color: #fff;
  margin-bottom: 8px;
}

/* Certificates Section */
.certificates {
  margin-bottom: 30px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}

.certificate-img {
  width: 100%;
  max-width: 600px;
  margin-top: 15px;
  border: 2px solid #00bfff;
  border-radius: 10px;
}

/* Contact Section */
.contact {
  background-color: #1e1e1e;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.contact a {
  color: #00bfff;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  font-size: 0.9rem;
  color: #aaa;
}
